<a href="https://colab.research.google.com/github/RinzCSGO/machine-learning/blob/learn/naive_bayes_and_logistic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
df = pd.read_csv('IRIS.csv')
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
X = df.iloc[:,:4]
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [5]:
# df['species'] = pd.to_numeric(df['species'])
df_new = pd.get_dummies(df, columns=["species"])
df_new

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor,species_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [6]:
y = df_new.iloc[:,-3:]
y

     species_Iris-setosa  species_Iris-versicolor  species_Iris-virginica
0                      1                        0                       0
1                      1                        0                       0
2                      1                        0                       0
3                      1                        0                       0
4                      1                        0                       0
..                   ...                      ...                     ...
145                    0                        0                       1
146                    0                        0                       1
147                    0                        0                       1
148                    0                        0                       1
149                    0                        0                       1

[150 rows x 3 columns]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

In [22]:
from sklearn.linear_model import LinearRegression as lr

model = lr()
model.fit(X,y)

LinearRegression()

In [23]:
model.score(X, y)

0.5936033816713716

In [25]:
model.coef_

array([[ 0.06564305,  0.242473  , -0.22276138, -0.06335141],
       [-0.02154464, -0.44070556,  0.21852137, -0.48319129],
       [-0.04409841,  0.19823256,  0.00424001,  0.54654271]])

In [26]:
model.intercept_

array([ 0.12246954,  1.56297692, -0.68544646])

In [27]:
y_pred = model.predict(X_train)

In [28]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_train, y_pred)

0.09189747056353548

In [29]:
from math import sqrt

print('rmse train= ', sqrt(mean_squared_error(y_train, y_pred)))

rmse train=  0.30314595587527715

In [30]:
from math import sqrt
y_pred_test = model.predict(X_test)
print('rmse test= ', sqrt(mean_squared_error(y_test, y_pred_test)))

rmse test=  0.294290843860906

In [34]:
ynb = df['species'].apply(lambda x: 1 if x == 'Iris-setosa' 
                          else(0 if x == 'Iris-versicolor' else -1))
ynb.tail(10)

140   -1
141   -1
142   -1
143   -1
144   -1
145   -1
146   -1
147   -1
148   -1
149   -1
Name: species, dtype: int64

In [33]:
from sklearn.naive_bayes import MultinomialNB
modelnb = MultinomialNB()
modelnb.fit(X,ynb)
print("Accurate train: ", round(modelnb.score(X, ynb)*100,3))

Accurate train:  95.333